/* 
.board_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    min-height: 500px;
    background-color: black;
} */

.frame {
  align-items: start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  /* width: 100vw; */
}
.frame .div {
  background-color: #ffffff;
  /* height: 1800px; */
  position: relative;
  width: 900px;
}
.frame .overlap {
  background-color: #d9d9d9;
  height: 119px;
  left: 0;
  position: absolute;
  top: 0;
  width: 900px;
}
.frame .text-wrapper {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 42px;
  font-weight: 400;
  left: 340px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33px;
}
.frame .rectangle {
  background-color: #d9d9d9;
  height: 113px;
  left: 0;
  position: absolute;
  top: 1687px;
  width: 900px;
}
.frame .div-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 31px;
  left: 45px;
  position: absolute;
  top: 25px;
  width: 820px;
}
.frame .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  height: 71px;
  position: relative;
}
.frame .text-wrapper-2 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}
.frame .div-4 {
  align-items: center;
  display: inline-flex;
  gap: 15px;
  height: 18px;
  position: relative;
}
.frame .view {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}
.frame .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.frame .div-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  height: 18px;
  justify-content: center;
  padding: 0px 5px;
  position: relative;
}
.frame .text-wrapper-4 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}
.frame .view-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 21px;
  position: relative;
  width: 810px;
}
.frame .line {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 810px;
}
.frame .view-3 {
  /* align-items: center; */
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  min-height: 350px;
  gap: 10px;
  justify-content: center;
  padding: 18px 0px;
  position: relative;
  width: 788px;
}
.frame .p {
  white-space: pre-wrap;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5;
  margin-top: -1px;
  position: relative;
  width: 788px;
}
.frame .p img {
  max-width: 100%;   /* 부모 영역 넘지 않게 */
  height: auto;      /* 비율 유지 */
  display: block;    /* inline 요소라면 block으로 정렬 */
  margin: 8px 0;     /* 위아래 간격 조금 추가 */
}
.frame .img {
  height: 1px;
  left: 0;
  position: absolute;
  bottom: 0px;
  width: 810px;
}
.frame .div-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 23px;
  position: relative;
  width: 100%;
}
.frame .view-4 {
  align-items: center;
  display: inline-flex;
  height: 18px;
  position: relative;
}
.frame .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 28px;
}
.frame .div-wrapper-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  height: 18px;
  justify-content: center;
  padding: 0px 5px;
  position: relative;
}
.frame .view-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 13px;
  position: relative;
  width: 100%;
}
.frame .view-6 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 800px;
}
.frame .div-6 {
  align-items: center;
  align-self: stretch;
  background-color: #fde0f1;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  width: 100%;
}
.frame .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 16px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  padding-left: 8px;
  position: relative;
  width: 652px;
}
.frame .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 16px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 36px;
}
.frame .line-2 {
  height: 16px;
  object-fit: cover;
  position: relative;
  width: 1px;
}
.frame .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
.frame .div-wrapper-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 100%;
}
.frame .text-wrapper-9 {
  color: #000000;
  flex: 1;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  margin-top: -1px;
  position: relative;
}
.frame .frame-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
  position: relative;
  width: 800px;
}
.frame .div-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  position: relative;
  width: 100%;
}
.frame .div-8 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0px 0px 0px 8px;
  position: relative;
}
.frame .vector {
  height: 16.5px;
  margin-left: -0.5px;
  position: relative;
  width: 16.5px;
}
.frame .div-9 {
  align-items: center;
  background-color: #fee1f2;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}
.frame .text-wrapper-10 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  height: 16px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 626px;
}
.frame .div-wrapper-4 {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 8px 8px 32px;
  position: relative;
  width: 800px;
}
.frame .overlap-group-wrapper {
  background-color: #fee1f2;
  height: 130px;
  position: relative;
  width: 810px;
}
.frame .overlap-group {
  height: 104px;
  left: 16px;
  position: relative;
  top: 13px;
  width: 778px;
}
.frame .div-wrapper-5 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #787878;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  gap: 10px;
  height: 104px;
  justify-content: center;
  left: 0;
  overflow: hidden;
  /* padding: 15px; */
  position: absolute;
  top: 0;
  width: 702px;
}
.frame .text-wrapper-11 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 82px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -3px;
  margin-left: -1.5px;
  margin-top: -5px;
  position: relative;
  width: 673px;
  border: none;
  outline: none; 
}
.frame .div-wrapper-6 {
  align-items: center;
  background-color: #ffaedd;
  border: 1px solid;
  border-color: #787878;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  gap: 10px;
  height: 104px;
  justify-content: center;
  left: 700px;
  /* padding: 10px; */
  position: absolute;
  top: 0;
  width: 78px;
}

.frame .div-wrapper-6:hover {
  cursor: pointer;
}

.frame .text-wrapper-12 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .div-10 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 809px;
}
.frame .div-wrapper-7 {
  align-items: center;
  background-color: #fee1f2;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  height: 38px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 76px;
}
.frame .div-wrapper-8 {
  align-items: center;
  background-color: #ffaedd;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  height: 38px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 76px;
}
